<<<<<<< HEAD
/* Layout Styling */
body {
    font-family: Arial,sans-serif;
    margin: 0;
    background-color: #f0f2f5;
}

.main-container {
    display:flex;
    height: 100vh;
}

.form-section {
    flex: 1;
    padding: 40px;
    background: #fff;
    display:flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.preview-section {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card Styling */
.card {
    width: 400px;
    height: 220px;
    background: linear-gradient(135deg,#1e3c72 0%, #2a5298 100%);
    color: white;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

input, button {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background: #28a745;
    color: white;
=======
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #eef2f3;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 900%;
    width: 100%;
}

.input-panel, .report-panel {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.input-panel { flex: 1; display: flex; flex-direction: column; gap: 10px; }
.report-panel { padding: 10px; border: 1px solid #ccc; border-radius: 5px; }

input { padding: 10px; border: 1px solid #ccc; border-radius: 5px; }

button {
    padding: 12px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 5px;
>>>>>>> 88739c94ed42248869335cad6ad6410d05b11ab5
    cursor: pointer;
    font-weight: bold;
}

<<<<<<< HEAD
/* The Print Magic */
@media print {
    .no-print {display: none; } /* Hides the Form*/
    body {background: white; }
    .preview-section { margin: 0; padding: 0; }
    .card { box-shadow: none; border: 1px solid #ccc; }
}
=======
table { width: 100%; margin-top: 20px; border-collapse: collapse; }
th, td{ border: 1px solid #ddd; padding: 15px; }
th { background-color: #f8f9fa; }

.pass { color: green; font-weight: bold; }
.fail { color: red; font-weight: bold; }
>>>>>>> 88739c94ed42248869335cad6ad6410d05b11ab5
